body {
    background-color: #04360d;
    color: rgb(255, 255, 255);
    font-family:  'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ffffff;
    color: rgb(6, 59, 6);
    font-family:  'DM Sans', sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}